.App {
  text-align: center;
}

.Page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.Header {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.Home {
  min-width: 400px;
  height: auto;
  padding: 25px;
}

ul {
  list-style: none;
  text-align: center;
}

.CenterMenu {
  display: inline-block;
  margin-right: 1rem;
}

.Midcontainer {
  justify-content: center;
}
.gridContainer {
  display: inline-grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr;
}
.Free {
  width: 1230px;
  height: 50px;
  margin-top: 145px;
  margin-bottom: 10px;
}

section {
  margin-top: 30px;
}

footer {
  margin: 100px;
}

.input {
  border: none;
  width: 290px;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}
.input::placeholder {
  font-weight: 550;
  font-size: 13px;
}

.GoList {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.centerMenuList {
  width: 500px;
}

.GoList:hover {
  color: white;
}

.drop {
  background-color: black;
  display: block;
  /* display: none; */
}
