.App {
  text-align: center;
}

.Page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  justify-content: center;
}
.Header {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.Home {
  min-width: 400px;
  height: auto;
  padding: 25px;
}

ul {
  list-style: none;
  text-align: center;
}

.CenterMenu {
  display: inline-block;
  margin-right: 1rem;
}

.Midcontainer {
  justify-content: center;
}

@media screen and (max-width: 1060px) {
  #firstSection {
    margin-top: 100px;
  }
}

.imageSize {
  max-width: 100%;
  height: auto;
  display: block;
}

.Free {
  width: 1230px;
  height: 50px;
  margin-top: 145px;
  margin-bottom: 10px;
}

footer {
  margin: 100px;
}

.input {
  border: none;
  width: 290px;
  border-bottom: 1px solid;
  padding-bottom: 8px;
}
.input::placeholder {
  font-weight: 550;
  font-size: 13px;
}

.GoList {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.drop {
  background-color: black;
  display: block;
}
@media screen and (max-width: 1060px) {
  .drop {
    display: none;
  }
}

.item {
  position: relative;
  display: inline-block;
  zoom: 1;
}

.itemImageContainer {
  text-align: center;
}
